.TransactionSpacer {
  height: 140px;
}
.transaction-container{
    width: 80%;
    margin: 20px auto;
    font-family: 'Josefin Sans', sans-serif;
}

.transaction-title {
    font-family: 'Josefin Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: 3em;
    margin-bottom: 1rem;
}

.date-transaction {
    font-family: 'Josefin Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    margin-bottom: 0.5rem;
    color: #004977;
}

.info-dropdown {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 1rem 1.2rem;
  margin-bottom: 1rem;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

.info-dropdown summary {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 1.3em;
  cursor: pointer;
  list-style: none;
  display: flex;                  
  justify-content: space-between;   
  align-items: center;              
  padding-right: 2.5rem;              
  position: relative;
}

.info-dropdown summary::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.2s ease;
  font-size: 0.8em;
  color: #444;
}


.info-dropdown p {
  font-size: 1.1em;
  line-height: 1.4em;
  color: #333;
  margin-top: 0.8rem;
}

.donation-dd {
  border: 2px solid #132d3b;
  border-radius: 4px;
  background: #f4fbff;
  margin: 20px 0;
}

.summary-transaction {
  display: grid;
  grid-template-columns: 1fr auto;
}

.table-transaction {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.table-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 0.5rem;
  font-size: 1.2rem;
}

.label-transaction {
  color: #6d8b9a;
  font-weight: 500;
  font-family: 'Josefin Sans', sans-serif;
}

.value-transaction {
  color: #000;
  font-family: 'Josefin Sans', sans-serif;
}

@media (max-width: 700px) {
  .table-grid {
    grid-template-columns: 1fr 1fr;
  }
}

