.donateSpacer {
  height: 80px; 
}

.donate-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
}

.title_donate {
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
  font-size: 4em;
  margin-bottom: 0.5rem;
}

.row-left {
  flex: 3;                 
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row-right {
  flex: 2;                  
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0;
}

.title_donate-container p {
    font-family: 'Josefin Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 150;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 2rem;
}

.title_quantity {
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
  font-size: 2em;
  margin-bottom: 1rem;
}

.title_bank_account{
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
  font-size: 2em;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.input_quantity, .input_bank_account {
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  width: 100%;
  padding: 0.8rem;
  font-size: 1.4rem;
  border: 1px solid #004977;
  border-radius: 20px;
  margin-bottom: 1.5rem;
}

.pay-button{
    font-family: 'Josefin Sans', sans-serif;
    font-optical-sizing: auto;
    width: 60%;             
    background: #004977;     
    color: #ffffff;          
    padding: 1.2rem;        
    font-size: 1.8rem;      
    font-weight: 600;       
    text-align: center;     
    border: none;           
    border-radius: 30px;    
    text-decoration: none;  
    display: inline-block;   
    cursor: pointer;        
    transition: background 0.3s ease;
    margin-top: 2rem;
}



.nameCompany {
    font-family: 'Josefin Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 2.5em;

}

.donationMoney {
    font-family: 'Josefin Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 5em;
    color: #00173A
    
}

.things_centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.thankyou-text {
    font-family: 'Josefin Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 150;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 2rem;
}
.thankyou-text2 {
    font-family: 'Josefin Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 150;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 0.9rem;
}

.pay-button:hover {
    background: #ffffff;    
    color: #004977;         
    border: 2px solid #004977; 
}

@media (max-width: 768px) {
  .donate-container {
    flex-direction: column;
  }

  .row-left,
  .row-right {
    flex: none;      
    width: 100%;
    height: auto;
  }

  .row-right img {
    height: auto;
  }
}
